* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.wrapper {
  margin: 0 auto;
  width: 600px;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  margin-bottom: 30px;
  font: arial, helvetica;
  font-size: 35px;
  align-items: center;
}
.btn {
  width: 100px;
  height: 35px;
  margin-right: 200px;
  font: arial, helvetica;
  font-size: 24px;
  background-color: lightgrey;
}
.field {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgb(211, 252, 136);
  border: solid green 2px;
}
.racket {
  position: absolute;
  width: 15px;
  height: 130px;
}
#racket1 {
  background-color: green;
  top: 135px;
  left: 0;
}
#racket2 {
  background-color: blue;
  top: 135px;
  left: 585px;
}
.ball {
  position: absolute;
  width: 45px;
}
